h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  color:rgb(80, 119, 204);
  text-align: center;

}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
  text-align: center;


  }

  h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: Center;

  }

  p
  { font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(0, 0, 0);
  text-align: center;
  }
c
  }

  body{
    background-color: aliceblue;
  }

  header{
    height: 300px;
    background: url(images/niceheader.jpg);
    background-size: cover
  }

  header h1{
    font-family: cursive;
    color: black;
    font-size: 56px;

  }

  header h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    background-color: gray;


  }

  a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }

  .border-box{
    width: 400px;
    background: beige;
padding: 20px;
border: 5px solid black;
margin: auto;
border-radius: 0px 25px;

  }

  footer p{
    text-align: center;
  }

  footer a{
    text-align: center;
  }

  ol { font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(0, 0, 0);
  text-align: center;
  }

  hr{
    height: 24px;
    border: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgb(251, 255, 0);
    transform: rotate (45degs);

  }